@import url("https://fonts.googleapis.com/css2?family=Marmelad&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header {
  display: flex; /* asi queda el titulo por un lado y el menu en el otro*/
  align-items: center;
  justify-content: space-between; /*Esto hace que mi logo quede a la izq y mi menu a la derecha*/
  padding: 2rem; /*asi queda separado del borde*/
  background-color: #003459;
}

.nav_title-page {
  color: #fff;
}

.nav_logo {
  max-width: 5rem;
}

.nav-list {
  list-style-type: none;
  display: flex; /*para que se pongan los titulos del menu uno al lado del otrio*/
  gap: 1rem; /*separa un poco los items entre si*/
}

.nav-list li a {
  text-decoration: none; /*quita las lineas debajo de los items del menu*/
  color: #fff;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* HERO */
.hero_container {
  /* Es el contenedor de mi seccion */
  max-width: 800px;
  display: grid;
  --padding-container: 0; /* Quito el padding container */
  grid-auto-rows: max-content; /* las filas que cree sean del maximo contenido y asi no ocupan mas de lo que deberian*/
  align-content: center; /* 1. el contenido se alinea verticalmente*/
  gap: 1em; /* 2. pero con un espaciado de 1em*/
  padding: 100px; /* 3. un padding pa que no se pegue con otras cosas*/
  text-align: center; /* 4. Que todo su texto se centre*/
}

.hero-principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0000009c 0%, #0000009c 100%);
  z-index: -1;
}

.hero-principal img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2; /* Asegúraese que de que el z-index sea menor que el del gradiente */
}

.hero-principal,
.hero_container,
.container-principal {
  z-index: 1; /* Asegurate de que estas clases tengan un z-index más bajo */
}

.container-principal {
  position: relative; /* Importante para posicionar el pseudo elemento .hero-principal::before */
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.hero-principal {
  color: #fff;
}

.hero_title {
  font-size: 3rem;
}

.hero-paragraph {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cta {
  /* boton Join The chamber en le hero*/
  display: inline-block;
  background-color: #003459;
  justify-self: center; /* esto hace que solo ocupe su contenido*/
  color: #fff;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 32px;
}

/*SPOTLIGHTS*/
.container-main {
  text-align: center; /*se centran horizontalmente*/
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  margin: auto 0;
  padding: 30px;
}

.article_cards {
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 350px; /*ANCHO DE MIS COLUMNAS*/
  overflow: hidden;
  margin: 0 auto; /*sin esta wea no sirveee OMG*/
  background-color: #e5e5f7;
  border-radius: 5%;
  box-shadow: 10px 5px 5px grey;
}

.subtitle {
  font-family: Marmelad, Arial, Helvetica;
  color: #000;
  font-size: 2rem; /*EVENTS Y WEATHER*/
  margin-top: 25px;
  margin-bottom: 25px;
}

.subtitle-main {
  font-family: Marmelad, Arial, Helvetica;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.about-paragraph {
  line-height: 1.5;
  color: #000000;
}

.about-paragraph-events {
  line-height: 1.5;
  color: #000000;
}

/*EVENTS Y WEATHER*/
.events-weather {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}

.events-weather_column.column1 {
  font-size: 1.2em; /* Aumenta el tamaño del texto */
}

.events-weather_column.column1 h2,
.events-weather_column.column1 h3,
.events-weather_column.column1 p {
  margin: 20px; /* Añade un margen de 20px a todos los lados del texto */
}

.events-weather_column.column1 a {
  margin-top: 20px; /* Añade un margen encima del botón */
}

.more-info-button {
  margin-left: 20px; /* Añade un margen a la izquierda del botón */
}

.column1 {
  flex: 2; /* 2/3 del espacio total */
  background-color: #e5e5f7;
}

.column2 {
  display: grid;
  gap: 1em;
  justify-items: center;
  overflow: hidden;
  margin: 0 auto; /*sin esta wea no sirveee OMG*/
  background-color: #e5e5f7;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: #112135;
  color: #fff;
}

.footer-row {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer-line {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
  /* Añade aquí cualquier otro estilo que quieras cambiar en el modo oscuro */
}

/* Puedes especificar estilos para elementos específicos en modo oscuro así */
.dark-mode .subtitle,
.dark-mode .subtitle-main,
.dark-mode .about-paragraph,
.dark-mode .about-paragraph-events,
.dark-mode .events-weather_column.column1,
.dark-mode .article_cards {
  background-color: #333333;
  color: #ffffff;
}

@media (max-width: 550px) {
  /*MENU HAMBURGUESA*/
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #ececec;
  }

  .cerrar-menu {
    color: #ececec;
  }
  .nav {
    /*ESTILIZAR LA NAV BAR*/
    opacity: 0;
    visibility: hidden; /*asi le podemos poner alguna animacion*/
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0; /*esto lo pasa a la derecha*/
    bottom: 0; /*esto extiende el menu hamb hasta abajo*/
    background-color: #000;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); /*esto oscurece el fondo cuando abrimos el menu hamb*/
    z-index: 1000; /*esto hizo que mi hero quedara abajo dle menu hamburguesa*/
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column; /*poner un item abajo del otro, ya tenia display flex arriba*/
    align-items: end; /*los alinea a la derecha */
  }

  .nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .nav-list li a {
    text-decoration: none; /*quita las lineas debajo de los items del menu*/
    color: #fff;
  }

  footer {
    flex-wrap: wrap;
  }

  .last_modified {
    text-align: center;
  }

  .hero_title {
    font-size: 2.5rem;
  }

  /*SPOTLIGHTS*/
  .container-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .article_cards {
    width: 50%; /* 2 columnas */
    margin-bottom: 0;
  }

  .events-weather {
    flex-direction: column; /* Cambia el flex-direction a column para que los hijos se coloquen uno debajo del otro */
    align-items: center; /* Centra los hijos horizontalmente */
  }

  .events-weather_column {
    width: 100%; /* Hace que cada columna ocupe el 100% del contenedor */
  }
}
