@import url("https://fonts.googleapis.com/css2?family=Marmelad&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #003459;
}

.nav_title-page {
  color: #fff;
}

.nav_logo {
  max-width: 5rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* HERO */
.hero_container {
  max-width: 800px;
  display: grid;
  --padding-container: 0;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding: 100px;
  text-align: center;
}

.hero-principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0000009c 0%, #0000009c 100%);
  z-index: -1;
}

.hero-principal img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.hero-principal,
.hero_container,
.container-principal {
  z-index: 1;
}

.container-principal {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.hero-principal {
  color: #fff;
}

.hero_title {
  font-size: 3rem;
}

.hero-paragraph {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  background-color: #003459;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 32px;
}

/* SPOTLIGHTS */
.container-main {
  text-align: center;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  margin: auto 0;
  padding: 30px;
}

.article_cards {
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #e5e5f7;
  border-radius: 5%;
  box-shadow: 10px 5px 5px grey;
}

.subtitle {
  font-family: Marmelad, Arial, Helvetica;
  color: #000;
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.subtitle-main {
  font-family: Marmelad, Arial, Helvetica;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.about-paragraph {
  line-height: 1.5;
  color: #000000;
}

.about-paragraph-events {
  line-height: 1.5;
  color: #000000;
}

/* EVENTS Y WEATHER */
.events-weather {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}

.events-weather_column.column1 {
  font-size: 1.2em;
}

.events-weather_column.column1 h2,
.events-weather_column.column1 h3,
.events-weather_column.column1 p {
  margin: 20px;
}

.events-weather_column.column1 a {
  margin-top: 20px;
}

.more-info-button {
  margin-left: 20px;
}

.column1 {
  flex: 2;
  background-color: #e5e5f7;
}

.column2 {
  display: grid;
  gap: 1em;
  justify-items: center;
  overflow: hidden;
  margin: 0 auto;
  background-color: #e5e5f7;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: #112135;
  color: #fff;
}

.footer-row {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer-line {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* DARK MODE */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .subtitle,
.dark-mode .subtitle-main,
.dark-mode .about-paragraph,
.dark-mode .about-paragraph-events,
.dark-mode .events-weather_column.column1,
.dark-mode .article_cards {
  background-color: #333333;
  color: #ffffff;
}

/* DISCOVER SECTION */

/* Sección principal */
.container-main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Sección de imágenes Discover */
.discover-images {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

figure {
  position: relative;
}

figure img {
  display: block;
  max-width: 100%;
}

.discover-images figure {
  margin: 10px 20px;
}

figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px;
  max-width: 100%;
  box-sizing: border-box;
}

.discover-sidebar-content {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 300px;
}

/* Google Maps dicover */
.google-map {
  width: 100%;
  max-width: 600px;
  height: 600px;
}

.discover-information h1 {
  text-align: center;
  padding: 30px;
}

.demographic-data h2 {
  font-family: Marmelad, Arial, Helvetica;
  padding: 10px;
}

.demographic-data p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: justify;
  padding: 25px;
}

/* FORM STYLES */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* FORM STYLES */
form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Ajuste el valor según sea necesario */
  margin-bottom: 20px; /* Ajuste el valor según sea necesario */
}

fieldset {
  margin-bottom: 20px;
  border: none;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #003459;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #001e38;
}

/* THANKS STYLES */
.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  background-color: #fff;
}

.thanks-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.thanks-paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #000;
  margin-bottom: 20px;
}

/* RESPONSIVE FORM STYLES */
@media (max-width: 768px) {
  .form-container {
    padding: 15px; /* Ajusté el padding en la versión móvil */
  }

  input[type="submit"] {
    font-size: 14px;
  }
}

.two-column-layout {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
}

.membership-benefits {
  flex: 1;
  padding: 10px;
  margin: 0 auto;
  text-align: justify;
  margin-right: 20px;
}

.membership-level {
  margin-bottom: 20px;
}

.form-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
