@media (min-width: 1024px) {
  /*MENU*/
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
    background: #0077b6;
  }

  .menu a {
    border: none;
  }

  header label {
    display: none;
  }

  .menu a:hover {
    background: #03045e;
  }

  /*BAR*/
  .content {
    width: 1000px;
  }

  #banner img {
    margin-top: -200px;
  }

  /* FORM*/
  .form-box {
    position: relative;
    width: 100%;
  }

  .form-box .row50 {
    display: flex;
    gap: 20px;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
  }

  .form-box .row100 .input-box {
    width: 100%;
  }

  .input-box span {
    color: #03045e;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .input-box input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
  }

  .input-box textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
  }

  .input-box input[type="submit"] {
    background: #023e8a;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 300px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
  }

  .input-box::placeholder {
    color: #999;
  }

  .socials-contact {
    width: 100%;
    text-align: center;
    font-size: 28px;
  }

  .socials-contact a {
    color: #fff;
    text-decoration: none;
  }

  .info {
    background: #01497c;
  }

  .info h3 {
    color: #fff;
  }

  .info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .info .infoBox div span {
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-right: 15px;
  }

  .info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
  }

  .info .infoBox div a {
    color: #fff;
    text-decoration: none;
  }

  .socials-contact {
    margin-top: 40px;
    display: flex;
  }

  .map {
    padding: 0;
  }

  .map iframe {
    width: 100%;
    height: 100%;
  }

  .content.home-page article {
    width: 20%;
  }
}
