@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Rethink+Sans&family=Roboto&display=swap");
/*https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Merriweather Sans, Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background: #0077b6;
  color: #fff;

  position: fixed; /*es para que se quede estatico el menu aunque se le baje a la pag*/
  top: 0;
  left: 0;
  z-index: 100; /*para que este arriba de todos los elementos*/
}

.content {
  width: 98%;
  margin: auto;
}

h1 {
  float: left;
}

header .content {
  display: table;
}

/*MENU MOVIL*/
#menu-bar {
  display: none;
}

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer; /*para que aparezca la manita al pasar el mouse*/
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #023e8a;
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a {
  display: block;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.menu a:hover {
  background: #03045e; /*transparecia al pasar el mouse*/
}

#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}

section {
  width: 100%;
  margin-bottom: 25px;
}

/*BANNER*/
#banner {
  margin-top: 50px;
  position: relative;
}

#banner img {
  width: 100%;
  height: 100%;
}

#banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
}

#banner h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

#banner p {
  font-size: 20px;
  margin-bottom: 15px;
}

#banner a {
  width: 100px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  padding: 7px;
  margin-top: 10px;
  border: 3px solid #fff;
}

#banner a:hover {
  background: rgba(51, 51, 51, 0.6);
}

#welcome {
  text-align: center;
}

/*rentals-summary*/
#rentals-summary h3 {
  text-align: center;
}

#rentals-summary .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#rentals-summary article {
  margin: 15px;
}

#rentals-summary img {
  width: 100%;
  max-width: 280px;
}

/* RENTAL SUMMARY IMAGENES */
.honda img {
  margin: 15px;
  padding: 10px;
}

.honda h4 {
  margin: 10px;
}

/*summary TEXT*/

.content h2,
h3 {
  margin: 10px;
  padding: 10px;
}

.content p {
  margin: 10px;
  padding: 10px;
}

/*FOOTER*/
footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
  background-color: #023e8a;
  width: 100%;
}

.copy {
  font-size: 20px;
}

.socials {
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.socials a {
  color: #fff;
  text-decoration: none;
}

.copy {
  margin: 10px;
  color: #fff;
}

.contact-info h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.contact-info p {
  margin-bottom: 10px;
  color: #fff;
}

/*And more! botton*/

#rentals-summary div {
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

#rentals-summary div a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #023e8a;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#rentals-summary div a:hover {
  background-color: #03045e;
  color: #fff;
}

/*CONTACT INFO*/
.contact-us {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contact-us .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 30px;
}

.contact-us .title h2 {
  color: #03045e;
  font-weight: 500;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: #caf0f8;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  color: #333;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/*RESERVATIONS SECTION*/
body.reservation-page {
  background-color: #d7e3fc;
}

body.reservation-page .reservation-form form {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
}

.title-reservation {
  text-align: center;
}

body.pagina-especifica .reservation-form form label,
body.pagina-especifica .reservation-form form input,
body.pagina-especifica .reservation-form form select,
body.pagina-especifica .reservation-form form textarea {
  color: #000;
}

.container-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.reservation-form {
  display: grid;
  grid-gap: 20px;
}

form {
  border: 1px solid #979dac;
  border-radius: 8px;
  padding: 20px;
}

legend {
  color: #333; /*color del texto de leyenda */
  margin: 0;
  padding: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  padding-top: 1rem;
  color: #000; /*color del texto de la etiqueta */
  font-size: 17px;
  margin: 10px;
  font-family: "Roboto", Geneva, Tahoma, sans-serif;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #caf0f8;
  color: #333;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #bbb;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #023e8a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #03045e;
}
