@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #b23a48;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 70px;
  margin: 10px;
  order: -1; /* note: Esto coloca la imagen a la izquierda en todos los dispositivos */
}

/*IMAGEN DEL TEMPLO*/
.hero-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 100vh; /* Asegura que la imagen no sea más grande que la altura de la pantalla */
}

body {
  margin: 0 auto;
  padding: 10px;
  font-family: "Mooli", sans-serif;
  background-color: #fff;
  color: #333;
}

main {
  margin: 0 auto;
}

.card {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}

main h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  background-color: #f0f0f0;
  color: #333;
}
main h3 {
  padding: 0 100px;
  height: 50px;
  background-color: #b23a48;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #b23a48;
  color: #fff;
  display: flex;
  justify-content: center;
}

img {
  width: 70px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

header h1 {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.nav-desktop {
  padding: 0 10px;
  height: 50px;
  background-color: #e5989b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  width: 100%;
  margin-bottom: 20px;
}

.nav-desktop a {
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 15px;
  height: 50px;
}

.nav-desktop a:hover {
  background-color: #8c2f39;
  color: #fff;
}

.card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: -20px 15px 15px 15px;
  list-style: none;
}

.card ul li {
  margin-top: 10px;
}

.footer-custom {
  background-color: #e5989b;
  color: #000000;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
